/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.container {
    width: 74%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    min-height: 8em;
}

/* UTILITIES */
a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    padding-right: .8em;
}

i {
    font-size: 1.5em;
    padding: .5em;
    color: white;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff6900;
    z-index: 99;
}

.filter,
.logo,
.icons-nav {
    width: 5em;
    width: calc(100% / 3);
    line-height: 3em;
    color: white;
}

.logo img {
    height: 40px ;
    margin: 0 auto;
}

.icons-nav {
    display: flex;
    justify-content: flex-end
}

/* MAIN */

main {
    margin-top: 100px;
}

.card {
    width: calc(100% / 3 - 20px);
    margin-top: 5em;
    position: relative;
    /* DEBUG */
    height: 65em;
    background-color: blanchedalmond;
    border: 2px dashed seagreen;
}

.heart {
    width: 5em;
    margin-top: 1em;
    position: absolute;
    top: 0;
    right: 0;
    /* DEBUG */
    height: 5em;
    background-color: palevioletred;
}

.red {
    width: 6em;
    margin-top: 1em;
    background-color: red;
    position: absolute;
    bottom: 5em;
    left: 0;
    /* DEBUG */
    height: 3em;
    
}

.green {
    width: 13em;
    margin-top: 1em;
    background-color: green;
    position: absolute;
    bottom: 5em;
    left: 7em;
    /* DEBUG */
    height: 3em;
    
}

.text-product {
    width: calc(100% / 3 - 20px);
    /* DEBUG */
    background-color: rgb(177, 142, 210);
    border: 2px dashed seagreen;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    /* DEBUG */
    height: 12em;
}

.container-footer {
    width: 74%;
    height: 10em;
    margin: 0 auto;
    border: 1px dashed white;
}

.text-footer,
.social {
    width: 20em;
    /* DEBUG */
    height: 5em;
    background-color: white;
}