/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto; 
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.col {
    width: calc(100% / 3 - 12px);
    margin-bottom: 5em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    min-height: 8em;
}

/* UTILITIES */
a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    padding-right: .8em;
}

i {
    font-size: 1.5em;
    padding: .5em;
    color: white;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff6900;
    z-index: 99;
}

.filter,
.logo,
.icons-nav {
    width: 5em;
    width: calc(100% / 3);
    line-height: 3em;
    color: white;
}

.logo img {
    height: 40px ;
    margin: 0 auto;
}

.icons-nav {
    display: flex;
    justify-content: flex-end
}

/* MAIN */

main {
    margin-top: 100px;
}

.card-image {
    position: relative;
}

.heart {
    width: 5em;
    margin-top: 1em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
.heart i {
    color: black;
}

.heart i:hover {
    color: red;
} 

.labels {
    position: absolute;
    bottom: 4em;
    left: 0;
}

.label {
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    padding: .5em .8em;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* text-product */

.text-product {
   font-size: 1.2rem;
}

.text-product h3 {
    color: red;
    display: inline-block;
    padding-right: .5em;
}

.text-product span {
    text-decoration: line-through;
    
}

/* FOOTER */
footer {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    /* DEBUG */
    height: 12em;
}

.container-footer {
    width: 74%;
    height: 10em;
    margin: 0 auto;
    border: 1px dashed white;
}

.text-footer,
.social {
    width: 20em;
    /* DEBUG */
    height: 5em;
    background-color: white;
}